{% extends 'layout.html' %}

{% block page_title %}
	New Media Portfolio - Delete Project
{% endblock %}

{% block content %}


	<header>
		Delete Project?
	</header>
	
	<hr>
	
	<div id="themed" class="">
	
		<form id="form" name="form" method="post" action="{{ flash['web_root'] }}/project/{{ project_id }}/delete">

		<a class='button reset' href='{{ flash['web_root'] }}/portfolio'>Cancel</a>

		<button class='reset' type="submit">Delete</button>
			
		<div id="projects">
			<div id="type"></div>
			<div id="title">{{ title }}</div>
			</br>
			<div id="desc">{{ description }}</div>
		</div>

		<div class="spacer"></div>

		</form>

	</div>


{% endblock %}

