{% extends 'layout.html' %}

{% block page_title %}New Media Portfolio - Edit Project{% endblock %}

{% block content %}

	<ul class="menu sgray fade" id="menu">
		<li><a href="{{ flash['web_root'] }}">New Media Portfolio 2012</a></li>
		<li class="floatr"><a href="{{ flash['web_root'] }}/logout">Log Out</a></li>
	</ul>

	<header>Edit Project</header>
	
	<hr>
	
	<div id="themed">
	
		<form id="form" name="form" method="post" action="{{ flash['web_root'] }}/project/{{ project_id }}/edit">
		
		<label>Title</label>
		<input type="text" name="title" id="title" value="{{ title }}" />

		<label>Description</label>
		<input type="text" name="description" id="description" value="{{ description }}" />

		<button type="submit">Submit</button>
			
		<div class="spacer"></div>

		</form>

	</div>


{% endblock %}
