{% extends 'layout.html' %}

{% block page_title %}
	{% if project_id == -1 %}
	New Media Portfolio - Add Project
	{% else %}
	New Media Portfolio - Edit Project
	{% endif %}	
{% endblock %}

{% block content %}

	<ul class="menu sgray fade" id="menu">
		<li><a href="{{ flash['web_root'] }}">New Media Portfolio 2012</a></li>
		<li class="floatr"><a href="{{ flash['web_root'] }}/logout">Log Out</a></li>
	</ul>

	<header>
		{% if project_id == -1 %}
		Add Project
		{% else %}
		Edit Project
		{% endif %}
	</header>
	
	<hr>
	
	<div id="themed" class="editForm">
	
		<form id="form" name="form" method="post" action="{{ flash['web_root'] }}/project/{{ project_id }}/edit">


		<label>Title</label>
		<input class='medium' type="text" name="title" id="title" value="{{ title }}" />

		<div class='spacer'></div>

		<label>Description</label>
		<textarea class='medium' name="description" id="description" rows="8" required>{{ description }}</textarea>

		<div class='spacer'></div>

		<h1>Media</h1>
		<a class='button left reset' href="{{ flash['web_root'] }}/project/{{ project_id }}/media/add">Add Media</a>
		<div class='spacer'></div>
		<hr>

		<div class='media_items'>
		{% for media in media_items %}
			<div class='media'>
				<div id="title">{{ media.title }}</div>
				<div id="desc">{{ media.description }}</div>
			</div>
		{% endfor %}
	</div>

		<div class='spacer'></div>


		<hr>
		<button class='right' type="submit">Save</button>
			
		<div class="spacer"></div>

		</form>

	</div>


{% endblock %}
