{% extends 'layout.html' %}

{% block page_title %}
	{% if project_id == -1 %}
	New Media Portfolio - Add Project
	{% else %}
	New Media Portfolio - Edit Project
	{% endif %}	
{% endblock %}

{% block content %}


	<header>
		{% if project_id == -1 %}
		Add New Project
		{% else %}
		Edit Project
		{% endif %}
	</header>
	
	<hr>
	
	<div id="themed" class="editForm">
	
		<form id="form" name="form" method="post" enctype="multipart/form-data" action="{{ flash['web_root'] }}/project/{{ project_id }}/edit">


		<label>Title</label>
		<input class='medium' type="text" name="title" id="title" value="{{ title }}" />

		<div class='spacer'></div>

		<label>Description</label>
		<textarea class='medium' name="description" id="description" rows="8" required>{{ description }}</textarea>

		<div class='spacer'></div>

		<label>Thumbnail (80 X 80)</label>
		<input name="thumbnail" type="file" /><label></label>

		<div class='spacer'></div>


		{% if project_id != -1 %}
		<!-- Editing existing project -->
		<h1>Media</h1>
		<a class='button left reset' href="{{ flash['web_root'] }}/project/{{ project_id }}/media/add">Add Media</a>
		<div class='spacer'></div>
		<hr>

		<div class='media_items'>
		{% for media in media_items %}
			<div class='media' style='position:relative'>
				<div class="title">{{ media.title }}</div>
				<div class="desc">{{ media.description }}</div>
				<div class="actions">
					<a href="{{ flash['web_root'] }}/project/{{ project_id }}/media/{{ media.media_id }}/edit"><img src="{{ flash['web_root'] }}/templates/images/icon_Edit.png" border="0" alt="Edit"></a></br>
					<a href="{{ flash['web_root'] }}/project/{{ project_id }}/media/{{ media.media_id }}/delete"><img src="{{ flash['web_root'] }}/templates/images/icon_Delete.png" border="0" alt="Delete"></a>
				</div>
			</div>

		{% endfor %}
		</div>

		{% else %}
		<!-- Adding new project -->
		<h1>Media</h1>
		<hr>		
		<div>You must create the project before you can add media.</div>
		{% endif %}

		<div class='spacer'></div>
		<br>


		<hr>
		<button class='right' type="submit">Save</button>
			
		<div class="spacer"></div>

		</form>

	</div>


{% endblock %}
