<!DOCTYPE html>
<html>
	<head>
		<title>{% block page_title %} {% endblock %}</title>
		<meta charset="utf8" />
		<link rel='stylesheet' type='text/css' href='{{flash['web_root']}}/templates/css/style.css' />
		<link rel='stylesheet' href='{{flash['web_root']}}/templates/css/lightbox.css' />
		<link href="{{flash['web_root']}}/templates/css/video-js.css" rel="stylesheet">	
		<script src="{{flash['web_root']}}/templates/js/jquery-1.7.2.min.js"></script>
		<script src="{{flash['web_root']}}/templates/js/jquery.validate.js"></script>	
	</head>
	<body>
		<div class="container">

		<ul class="menu sgray fade" id="menu">			
			{% for breadcrumb in flash['breadcrumbs'] %}
			<li class='breadcrumb'><a href="{{ flash['web_root'] }}{{ breadcrumb.url }}">{{ breadcrumb.name }}</a></li>
			{% endfor %}
			
			<li class="floatr">
			{% if flash['logged_in'] %}
			<a href="{{ flash['web_root'] }}/logout">Log Out</a>
			{% else %}
			<a href="{{ flash['web_root'] }}/login">Login</a>
			{% endif %}
			</li>
		</ul>

		{% block content %} {% endblock %}
		</div>
	</body>
	<script src="{{flash['web_root']}}/templates/js/lightbox.js"></script>
	<script src="{{flash['web_root']}}/templates/js/video.js"></script>
</html>
