{% extends 'layout.html' %}

{% block page_title %}New Media Portfolio - Login{% endblock %}

{% block content %}

    <div class="header">{% if flash['header'] is defined %}{{ flash['header'] }}{% else %}Login{% endif %}</div>


	<hr>
	{% if flash['error'] is defined %}
		<h3>Login failed, please retype your username and password below...</h3>
	{% endif %}
	<div id="themed" class="loginForm" style="margin-left:250px;">
		
		<form id="form" name="form" method="post" action="{{ flash['web_root'] }}/login">
		<label>Username</label>
		<input type="text" name="username" id="username" />

		<label>Password	</label>
		<input type="password" name="password" id="password" />

		<button class='first' type="submit">Login</button>
		<a class='button' href='{{ flash['web_root'] }}/register'>Register</a>

		<div class="spacer"></div>

		</form>

	</div>

{% endblock %}
