{% extends 'layout.html' %}

{% block page_title %}New Media Portfolio - Login{% endblock %}

{% block content %}

	<ul class="menu sgray fade" id="menu">
		<li><a href="{{ flash['web_root'] }}/view_portfolio">New Media Portfolio 2012</a></li>
	</ul>

	<header>Login</header>
	
	<hr>
	
	<div id="themed" class="loginForm">
		
		<form id="form" name="form" method="post" action="{{ flash['web_root'] }}/view_portfolio">
		
		<label>Username</label>
		<input type="text" name="username" id="username" />

		<label>Password	</label>
		<input type="password" name="password" id="password" />

		<button type="submit">Login</button>
			
		<div class="spacer"></div>

		</form>
	</div>

{% endblock %}
