{% extends 'layout.html' %}

{% block page_title %}New Media Portfolio Login{% endblock %}

{% block content %}

	<header>New Media Portfolio - Register</header>
	
	<hr>
	
	<div id="themed" class="loginForm">
		
		<form id="form" name="form" method="post" action="{{ flash['web_root'] }}/register">
		
		<label>Username</label>
		<input type="text" name="username" id="username" placeholder="Minimum 3 characters"/>

		<label>Password	</label>
		<input type="password" name="password" id="password" placeholder="Minimum 6 characters"/>
		
		<label>First Name</label>
		<input type='text' name='firstname' placeholder="Your first name"/>

		<label>Last Name</label>
		<input type='text' name='lastname' placeholder="Your last name"/>

		<label>Email</label>
		<input type='text' name='email' placeholder="Must be a valid e-mail address"/>

		<button type="submit">Register</button>
			
		<div class="spacer"></div>
		
		{% if flash['error'] is defined %}
			<label>Registration failed, please try again</label>
		{% endif %}

		</form>
	</div>

{% endblock %}
