{% extends 'layout.html' %}

{% block page_title %}New Media Portfolio Login{% endblock %}

{% block content %}

	<header>New Media Portfolio - Register</header>
	
	<hr>
	
	<div id="themed" class="loginForm">
		
		<form id="form" name="form" method="post" action="{{ flash['web_root'] }}/register">
		
		<label>Username</label>
		<input type="text" name="username" id="username" />

		<label>Password	</label>
		<input type="password" name="password" id="password" />
		
		<label>FirstClass Email </label>
		<input type="text" name="email" id="email" />

		<button type="submit">Register</button>
			
		<div class="spacer"></div>
		
		{% if flash['error'] is defined %}
			<label>Registration failed, please try again</label>
		{% endif %}

		</form>
	</div>

{% endblock %}
