{% extends 'layout.html' %}

{% block page_title %}
	New Media Portfolio - Submit Portfolio
{% endblock %}

{% block content %}

	<div class="header">
		Submit Portfolio?
	</div>
	
	<hr>
	
	<div id="themed" class="loginForm">
	
		<form id="form" name="form" method="post" action="{{ flash['web_root'] }}/portfolio/submit">
		
		<p style="text-align:center;">Are you sure you want to submit your portfolio?
			</br>
			(This action cannot be undone!)
		</p>

		<button type="submit">Submit</button>
		<a class='button' style="margin-left:1000px:" href='{{ flash['web_root'] }}/portfolio'>Cancel</a>
		</form>

	</div>

{% endblock %}


