{% extends 'layout.html' %}

{% block page_title %}New Media Portfolio - View Project{% endblock %}

{% block content %}

	<header>{{ title }}</header>
	
	<div id="themed"style ="margin-left:650px;">
		<FORM METHOD="LINK" ACTION="{{ flash['web_root'] }}/project/{{ project_id }}/edit">
		<button type="submit">Edit Project</button>
		</FORM>
	</div>
	
	<hr>
	
	<p>{{ description }}</p>

	<p>THUMBNAIL!!! {{ thumbnail }}</p>

	<div class='media_items'>
	{% for media in media_items %}
		{% if media.mimetype == 'audio/mp3' %}
			<div>Audio File!</div>
		{% elseif media.mimetype == 'test' %}
			<div>Test type</div>
		{% else %}
			<div>Some other file!</div>
		{% endif %}
		<div class='media'>
			<div id="title">{{ media.title }}</div>
			<div id="desc">{{ media.description }}</div>
		</div>
	{% endfor %}
	</div>	

{% endblock %}
