{% extends 'layout.html' %}

{% block page_title %}New Media Portfolio - Your Portfolio{% endblock %}

{% block content %}
	<ul class="menu sgray fade" id="menu">
		<li><a href="{{ flash['web_root'] }}">New Media Portfolio 2012</a></li>
		<li class="floatr"><a href="{{ flash['web_root'] }}/logout">Log Out</a></li>
	</ul>

	<header>Your Portfolio</header>
	
	<hr>
	
	<div id="themed"style ="margin-left:-10px;">
		<FORM METHOD="LINK" ACTION="{{ flash['web_root'] }}/portfolio/submit">
		<button type="submit">Submit Portfolio</button>
		</FORM>
	</div>

	<div id="themed"style ="margin-left:650px;">
		<FORM METHOD="LINK" ACTION="{{ flash['web_root'] }}/project/add">
		<button type="submit">Add Project</button>
		</FORM>
	</div>

	<div id="projectSpacer" style="margin-top:20px"></div>

	<p>
	{% for project in projects %}
		<div id="projects">
			<a href="{{ flash['web_root'] }}/project/{{ project['project_id'] }}"><div id="type"></div></a>
			<a href="{{ flash['web_root'] }}/project/{{ project['project_id'] }}"><div id="title">{{ project['title'] }}</div></a>
			</br>
			<div id="desc">{{ project['description'] }}</div>
		
			<div class"actions" style="float:right;margin-top:-95px;margin-left:850px;">
				<a href="{{ flash['web_root'] }}/project/{{ project['project_id'] }}/edit"><img src="{{ flash['web_root'] }}/images/icon_Edit.png" border="0" alt="Edit"></a></br>
				<a href="{{ flash['web_root'] }}/project/{{ project['project_id'] }}/delete"><img src="{{ flash['web_root'] }}/images/icon_Delete.png" border="0" alt="Delete"></a>
			</div>
		</div>
	{% endfor %}
	</p>

{% endblock %}
