{% extends 'layout.html' %}

{% block page_title %}New Media Portfolio - View Project{% endblock %}

{% block content %}

	{% if flash['isFaculty'] %}
	{% if hasDoneEvaluation %}
		<h2 style='position: absolute; right: 0;'>Has Been Evaluated</h2>
	{% else %}
	<div id='themed' style='position: absolute; right: 0;' >
		<a class='button' href="{{ flash['web_root'] }}/portfolios/{{ portfolio_id }}/project/{{ project_id }}/evaluate" type="submit">Evaluate Project</a>
	</div>
	{% endif %}
	{% endif %}

	<header>{{ title }}</header>
	{% if flash['portfolioIsSubmitted'] is defined and not flash['portfolioIsSubmitted'] %}
	<div id='themed' style='position: absolute; right: 0; margin-top: -30px;' >
		<a class='button' href="{{ flash['web_root'] }}/project/{{ project_id }}/edit" type="submit">Edit Project</a>
	</div>
	{% endif %}

	{% if flash['message'] %}
	<h2>{{ flash['message'] }}</h2>
	{% endif %}

	<hr>
	
	<p class='project-desc'>{{ description }}</p>

	<div class='media_items'>
	{% for media in media_items %}

			{% if media.mimetype in ['image/png', 'image/jpeg', 'image/gif'] %}
			<!-- Image -->
			<div class='media image'>
				<div class="title">{{ media.title }}</div>
				<img src="{{ flash['web_root'] }}/media/{{ media.filename }}"/>
				<div class="desc">{{ media.description }}</div>
			</div>
			{% elseif media.mimetype in ['audio/mp32'] %}
			<!-- Audio -->
			<div class='media audio'>
				<div class="title">{{ media.title }}</div>
				<div> Audio </div>
				<div class="desc">{{ media.description }}</div>
			</div>
			{% elseif media.mimetype in ['video/mp4', 'video/ogv', 'video/webm'] %}
			<!-- Video -->
			<div class='media video'>
				<video controls="controls"> 
					<div class="title">{{ media.title }}</div>
					<source src="{{ flash['web_root'] }}/media/{{ media.filename }}" type="{{ media.mimetype }}" /> 				
				<!--
				<source src="" type="video/mp4" /> 
				<source src="" type="video/ogv" /> 
				<source src="" type="video/webm" />
  				-->
					Your browser does not support the video tag </video>
					<a href="{{ flash['web_root'] }}/media/{{ media.filename }}">Download the file here</a>
					<div class="desc">{{ media.description }}</div>
			</div>
			{% elseif media.mimetype == '' %}
			<!-- Text -->
			<div class='media text'>
				<div class="title">{{ media.title }}</div>
				<p class="desc">{{ media.description }}</p>
			</div>
			{% else %}
			<!-- A generic file -->
			<div class='media file'>
				<div class="title">{{ media.title }}</div>
				<div class='file'>File: <a href="{{ flash['web_root'] }}/media/{{ media.filename }}">{{ media.title }}</a></div>
				<div class="desc">{{ media.description }}</div>
			</div>
			{% endif %}
		</div>
	{% endfor %}
	</div>	

{% endblock %}
