{% extends 'layout.html' %}

{% block page_title %}New Media Portfolio - Your Portfolio{% endblock %}

{% block content %}

	<ul class="menu sgray fade" id="menu">
		<li><a href="{{ flash['web_root'] }}">New Media Portfolio 2012</a></li>
		<li class="floatr"><a href="{{ flash['web_root'] }}/logout">Log Out</a></li>
	</ul>

	<header>Your Portfolio</header>
	
	<hr>
	
	{% for proj in projects %}
		<p>
		<label>{{ proj[1] }}</label>
		<label>{{ proj[2] }}</label>
		</p>
	{% endfor %}

{% endblock %}
