{% extends 'layout.html' %}

{% block page_title %}New Media Portfolio - View Project{% endblock %}

{% block content %}

	<header>{{ title }}</header>
	
	<div id="themed" style="margin-left:650px;">
		<FORM METHOD="LINK" ACTION="{{ flash['web_root'] }}/project/{{ project_id }}/edit">
		<button type="submit">Edit Project</button>
		</FORM>
	</div>
	
	<hr>
	
	<p>{{ description }}</p>

	<div class='media_items'>
	{% for media in media_items %}
		<div class='media'>
			{% if media.mimetype == 'png' %}
			<!-- Image -->

			<div class="title">{{ media.title }}</div>
			<div> Image </div>
			<div class="desc">{{ media.description }}</div>

			{% elseif media.mimetype == 'audio/mp3' %}
			<!-- Audio -->
			<div class="title">{{ media.title }}</div>
			<div> Audio </div>
			<div class="desc">{{ media.description }}</div>
			{% elseif media.mimetype == 'test' %}
			<!-- Video -->
			<div class="title">{{ media.title }}</div>
			<div> Video </div>
			<div class="desc">{{ media.description }}</div>

			{% elseif media.mimetype == '' %}
			<!-- Text -->
			<div class="title">{{ media.title }}</div>
			<p class="desc">{{ media.description }}</p>

			{% else %}
			<!-- A generic file -->
			<div class="title">{{ media.title }}</div>
			<div> A file </div>
			<div class="desc">{{ media.description }}</div>

			{% endif %}
		</div>
	{% endfor %}
	</div>	

{% endblock %}
