{% extends 'layout.html' %}

{% block page_title %}New Media Portfolio - View Project{% endblock %}

{% block content %}

	<ul class="menu sgray fade" id="menu">
		<li><a href="{{ flash['web_root'] }}">New Media Portfolio 2012</a></li>
		<li class="floatr"><a href="{{ flash['web_root'] }}/logout">Log Out</a></li>
	</ul>

	<header>{{ title }}</header>
	
	<hr>
	
	<p>{{ description }}</p>
	
<!-- Need to put the code below into a foreach loop as with the view_portfolio
	title and description and echo the image link & title and video links + increment a video name -->
	<div id="projects">
		<h3>Images</h3>
		<a href="IMAGE LINK" rel="lightbox[arbitarySetName]" title="IMAGE TITLE"><img src="IMAGE LINK" alt="IMAGE TITLE" /></a>
	</div>
	
	<div id="projects" style="height:360px;">
		<h3>Videos</h3>
		<video id="INCREMENT VIDEO NAMES" class="video-js vjs-default-skin" controls
		  preload="auto" width="470" height="320"data-setup="{}">
		  <source src="VIDEO LINK" type='video/mp4'>
		  <source src="VIDEO LINK" type='video/webm'>
		</video>
	</div>
<!--  -->
{% endblock %}
